doctype html
html
  head 
    title Subha Coding Academy 
    block scripts 
    block style 
  body 
    nav#navbar
        ul 
          div#logo
            img(src="/static/img/logo.png")
            | SCA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") class info]
          li #[a(href="/contact") Contact us]
    block content 
    footer#footer 
      | copyright 2023: ©suhacodingacademy.com 
  
    
