extends base.pug
block scripts
  script(src='/static/index.js')

block style 
  style
    include ../static/style.css

block content 
    section#introsection 
      div Welcome to Subha Coding Academy 
      div.small Eat Sleep Code Repeat

    section#missionsection 
      h2 Our Mission 
      div.card
        h3 Become a Developer 
        div.card-box
          div.card-img
            img(src="/static/img/1.jpg")
          div.card-content
            p This is best Coding academy of all
        
      div.card
        h3 Code the way you like
        div.card-box
          div.card-img
            img(src="/static/img/2.png")
          div.card-content
            p Code like a Pro Developer.
      div.card
        h3 Expert Teaching
        div.card-box
          div.card-img
            img(src="/static/img/3.jpg")
          div.card-content
            p one step towards being a Coder

    section#sponsorsection 
       h2 Our Recruiters
       #sponsor   
        img(src="/static/img/logo1.png",alt="Sponsor image", class="spimage")
        img(src="/static/img/logo2.png",alt="Sponsor image", class="spimage")
        img(src="/static/img/logo3.png",alt="Sponsor image", class="spimage")
        img(src="/static/img/logo4.png",alt="Sponsor image", class="spimage")
    footer#footer
       

    script
      include ../static/index.js
